$black-normal: #242526;
$black-medium: #141516;
$black-dark: #050607;

$white-normal: #E6E8E8;
$white-medium: #EEF0F0;
$white-normal: #F5F7F7;

$purple-normal: #7346F4;
$purple-medium: #693AF0;
$purple-dark: #5E32DE;

$blue-normal: #538BF0; 

$gray-1: #777;

.color-gray {
    color: $gray-1;
}