h1, h2, h3, h4, h5, h6, p, a {
    font-family: 'Barlow Semi Condensed', sans-serif;

    color: $black-dark;
    font-weight: 400;
}

a {
    text-decoration: none;
}

.link {
    padding: 8px 24px;

    font-size: 24px;

    display: inline-block;

    transition: .5s ease;

    position: relative;

    &::after {
        content: '';
        display: block;

        position: absolute;
        top: 100%;
        left: 0;

        width: 0%;
        height: 2px;

        background-color: $purple-dark;

        transform: translate(25%, -55%);
        transition: .5s ease;
    }

    &:hover {
        opacity: .8;

        &::after {
            width: 70%;
        }
    }
}

h1 {
    font-size: 96px;
    line-height: 100%;
}

h2 {
    font-size: 72px;
    line-height: 110%;
}

@media screen and (max-width: 960px) {
    h1 {
        font-size: 64px;
    }

    h2 {
        font-size: 48px;
    }
}



h3 {
    font-size: 40px;
    line-height: 110%;
}

h4 {
    font-size: 32px;
    line-height: 120%;
}

h5 {
    font-size: 24px;
    line-height: 130%;
}

h6 {
    font-size: 18px;
    line-height: 150%;
}

.mask {
    background: linear-gradient(180deg, #5E32DE 22.92%, #538BF0 100%);

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.textCenter {
    text-align: center;
}

.textRight {
    text-align: right;
}

.circle {
    margin-top: 64px;
    display: inline-block;
    font-size: 24px;

    padding: 16px 24px;

    position: relative;

    &::after {
        content: '';
        display: block;

        width: 140px;
        height: 140px;

        border-radius: 100%;
        background: rgba(115, 70, 244, 0.2);
        border: 1px dashed #693AF0;

        position: absolute;
        top: 0;
        left: 0;

        transform: translate(-8%, -27%);

        z-index: -1;

        transition: .5s ease;
    }

    &:hover{
        &::after {
            background: #5d32de77;
        }
    }
}

#arrow {
    position: relative;
    width: 127px;
    height: 2px;
    background: linear-gradient(270deg, #000000 0%, rgba(0, 0, 0, 0) 100%);
    left: -140px;
    top: -13px;
}

#arrow::after {
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;

    right: 0;
    top: -4.1px;
    border-top: 2px solid $black-dark;
    border-right: 2px solid $black-dark;

    transform: rotate(40deg);
}

